<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1>Bem-vindo a Vídeos!</h1>
    <hr>
    <h3>Esta é a página de vídeos</h3>
    <p>Escolha uma playlist ou o vídeo que deseja reproduzir...</p>

<%- include ('partials/footer.ejs') %>