<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <h1>Bem-vindo ao Perfil!</h1>
    <hr>
    <h3>Esta é a página de perfil</h3>

    <% if (nome) { %>
        <h2>Olá, <%= nome %>!<br> Seja bem-vindo!</h2>
    <% } else { %>
        <h2>Faça o login para acessar seu perfil.</h2>
    <% } %>
    
</body>

</html>