<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vídeos</title>
</head>

<body>
    <h1>Conheça nossas playlists:</h1>
    <!-- Verificar se uma playlist foi passada -->
    <%= playlist %>
     <!-- Condição para verificar se o produto não foi passado -->
     <% if (!playlist) { %>
        <p><%= listaPlaylists %></p>
     <% } %>

     <!-- forEach para percorrer a lista de produtos -->
      <% if(!playlist) { %>
        <% listaPlaylists.forEach((playlist) => { %>
            <p><a href="/videos/<%= playlist %>"><%= playlist %></a></p>
        <% }) %>
      <% } %>
</body>
</html>
</body>

</html>