<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vídeos</title>
</head>

<body>
    <h1>Bem-vindo a Vídeos!</h1>
    <hr>
    <h3>Esta é a página de vídeos</h3>
    <p>Escolha uma playlist ou o vídeo que deseja reproduzir...</p>
</body>

</html>