<%- include('partials/navbar') %>
<%- include('partials/header') %>

<div class="container background">
    <div class="overlay">
        <h2>A História da Padaria Ricardo</h2>
        <p>A Padaria Ricardo, fundada por Ricardo Tanaka, trouxe para a cidade uma variedade de produtos de panificação e confeitaria orientais. Ricardo viajou pelo Japão em busca das melhores receitas e técnicas de panificação. Ao retornar, ele abriu sua padaria, combinando a tradição japonesa com ingredientes locais frescos.</p>
    </div>
</div>

<%- include('partials/footer') %>
